@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$bgColor: green;
$bgColorMain: grey;
$color: red;
$colorText: darkBlue;
$height: 20vh;

@mixin font {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Fira Code', monospace;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1280px;
  margin: 2% auto;
}
div {
  padding: 1% 1%;
}
p:nth-child(1) {
  font-weight: 700;
}
